:root {
    /* Primary Colors */
    --brand-primary: hsl(0, 93%, 64%);
    --hover-primary: hsl(0, 100%, 79%);
    --hover-dark: hsl(240, 12%, 30%);
    /* Neutral Colors */
    --text-dark: hsl(0, 0%, 0%);
    --color-dark: hsl(240, 14%, 11%);
    --color-light: hsl(0, 0%, 100%);

    /* Font Family */
    --ff-serif: serif;
    --ff-sans-serif: "Commissioner", sans-serif;
    /* Font Sizes */
    --fs-150: 9.375rem;
    --fs-96: 6rem;
    --fs-80: 5rem;
    --fs-72: 4.5rem;
    --fs-64: 4rem;
    --fs-56: 3.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-36: 2.25rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-20: 1.25rem;
    --fs-18: 1.125rem;
    --fs-16: 1rem;
    --fs-15: 0.9375rem;
    --fs-14: 0.875rem;
    --fs-12: 0.75rem;
    /* Font Weights */
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    /* Line Height */
    --lh-88: 5.5rem;
    --lh-72: 4.5rem;
    --lh-64: 4rem;
    --lh-56: 3.5rem;
    --lh-55: 3.4375rem;
    --lh-48: 3rem;
    --lh-44: 2.75rem;
    --lh-40: 2.5rem;
    --lh-36: 2.25rem;
    --lh-32: 2rem;
    --lh-30: 1.875rem;
    --lh-28: 1.75rem;
    --lh-26: 1.625rem;
    --lh-25: 1.5625rem;
    --lh-20: 1.25rem;
    --lh-15: 0.9375rem;
    /* Spacer */
    --spacer: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Commissioner", sans-serif;
    font-size: var(--fs-15);
    line-height: var(--lh-25);
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

img,
picture {
    display: block;
    height: auto;
    width: 100%;
}

/***** Button Styles *****/
.btn {
    color: var(--color-light);
    display: inline-block;
    font-size: var(--fs-16);
    font-weight: var(--fw-800);
    padding: 1rem 2.25rem;
}

.btn-primary {
    background-color: var(--brand-primary);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--hover-primary);
}

.btn-menu {
    background-color: var(--brand-primary);
    padding: 1rem 2.75rem;
}

.btn-menu:hover,
.btn-menu:focus {
    background-color: var(--hover-primary);
}

@media (min-width: 767px) {
    /***** Button Styles *****/
    .btn-menu {
        background-color: var(--color-dark);
        padding: 1.25rem 1.25rem;
    }

    .btn-menu:hover,
    .btn-menu:focus {
        background-color: var(--hover-dark);
    }
}

/************* Typography *************/
h1,
h2,
h3,
h4 {
    font-weight: var(--fw-800);
}

h1.page-title {
    font-size: var(--fs-40);
    line-height: var(--lh-40);
}

h2 {
    font-size: var(--fs-32);
    line-height: var(--lh-40);
}

h2.project-category {
    margin-bottom: 1.5rem;
}

footer h2 {
    margin-bottom: 3rem;
}

h3 {
    font-size: var(--fs-15);
    line-height: var(--lh-25);
    margin-bottom: 1rem;
}

.slide-caption h4 {
    font-size: var(--fs-15);
    line-height: var(--lh-20);
}

.slide-caption span {
    font-size: var(--fs-15);
    font-weight: var(--fw-400);
    line-height: var(--lh-20);
}

.services p {
    font-size: var(--fs-15);
    line-height: var(--lh-25);
}

p.subhead {
    font-size: var(--fs-15);
    line-height: var(--lh-25);
    margin: 1rem 0 2.5rem;
}

a {
    font-weight: var(--fw-400);
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: var(--fs-15);
    line-height: var(--lh-25);
    margin: 1.5rem 0 2.5rem;
}

.text-link {
    border-bottom: 2px solid var(--brand-primary);
    color: var(--brand-primary);
    font-size: var(--fs-15);
    font-weight: var(--fw-800);
    padding-bottom: 8px;
}

.text-link:hover,
.text-link:focus {
    border-color: var(--hover-primary);
    color: var(--hover-primary);
}

@media (min-width: 600px) {
    .footer h2 {
        margin-bottom: 0;
    }
}

@media (min-width: 767px) {
    h1.page-title {
        font-size: var(--fs-56);
        line-height: var(--lh-56);
        padding-top: 5rem;
    }

    h2.project-category {
        margin-bottom: 2rem;
    }
}

@media (min-width: 1080px) {
    h1.page-title {
        padding-top: 3rem;
    }

    p.subhead {
        font-size: var(--fs-18);
        line-height: var(--lh-32);
    }

    .services p {
        font-size: var(--fs-18);
        line-height: var(--lh-32);
    }

    h2.project-category {
        font-size: var(--fs-48);
        line-height: var(--lh-55);
        margin-bottom: 3.25rem;
    }

    .strategy h2 {
        font-size: var(--fs-40);
        line-height: var(--lh-48);
        width: 60%;
    }

    blockquote {
        font-size: var(--fs-18);
        line-height: var(--lh-32);
        margin: 1.5rem 0 2.5rem;
    }

    .brand-slogan h2 {
        font-size: var(--fs-40);
        line-height: var(--lh-48);
        /* margin-bottom: 3.25rem; */
    }

    .footer h2 {
        font-size: var(--fs-48);
        line-height: var(--lh-55);
    }
}

@media (min-width: 1280px) {
    h1.page-title {
        padding-top: 5rem;
    }

    .brand-slogan h2 {
        font-size: var(--fs-56);
        line-height: var(--lh-64);
        /* margin-bottom: 3.25rem; */
    }

    h2.project-category {
        font-size: var(--fs-56);
        line-height: var(--lh-64);
        margin-bottom: 3.25rem;
    }

    .strategy h2 {
        font-size: var(--fs-56);
        line-height: var(--lh-64);
        width: 60%;
    }

    .footer h2 {
        font-size: var(--fs-56);
        line-height: var(--lh-64);
    }
}

/************* Header Styles *************/
/* Uses header-menu.css file */

/************* Hero Styles *************/

.hero-text {
    padding: 3.5rem 1.5rem 6rem;
}

@media (min-width: 767px) {
    .hero {
        display: grid;
        grid-template-columns: 2.5rem 1fr 70px 1fr;

        padding-bottom: 0;
    }

    .hero-text {
        grid-column: 2 / 4;
        grid-row: 1;

        padding: 0;
    }

    .hero-image {
        grid-column: 3 / 5;
        grid-row: 1;

        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1080px) {
    .hero {
        grid-template-columns: 5rem 1fr 70px 1fr;
    }

    .hero-text {
        grid-column: 2 / 4;
        grid-row: 1;

        padding-top: 0;
    }

    .hero-image {
        grid-column: 3 / 5;
        grid-row: 1;
    }
}

@media (min-width: 1280px) {
    .hero {
        grid-template-columns: 6rem 1fr 70px 1fr;
        height: auto;
    }

    .hero-text {
        grid-column: 2 / 4;
        grid-row: 1;

        padding: 0;
    }

    .hero-image {
        grid-column: 3 / 5;
        grid-row: 1;
    }
}

@media (min-width: 1366px) {
    .hero {
        grid-template-columns: 10rem 1fr 70px 1fr;
    }
}

/************* Strategy Styles *************/
.strategy {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.accent-color {
    color: var(--brand-primary);
}

.strategy-text {
    padding: 4.5rem 1.5rem;
}

@media (min-width: 767px) {
    .strategy {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .strategy-image {
        position: relative;
    }

    .strategy-text {
        padding: 7.5rem 4.5rem 0;
    }

    .strategy-image::before {
        content: url(../assets/desktop/bg-pattern-wave-red.svg);
        display: inline-block;
        position: absolute;
        left: 83%;
        top: 19%;
        transform: scale(0.5);
    }
}

@media (min-width: 1080px) {
    .strategy-image::before {
        content: url(../assets/desktop/bg-pattern-wave-red.svg);
        display: inline-block;
        position: absolute;
        left: 88%;
        top: 19%;
        transform: scale(0.7);
    }

    .strategy-text {
        padding: 8rem 5rem 0 6rem;
    }
}

@media (min-width: 1280px) {
    .strategy-image::before {
        content: url(../assets/desktop/bg-pattern-wave-red.svg);
        display: inline-block;
        position: absolute;
        left: 89%;
        top: 26%;
        transform: scale(1);
    }

    .strategy-text {
        padding: 12rem 5rem 0 6rem;
    }
}

@media (min-width: 1366px) {
    .strategy-image::before {
        content: url(../assets/desktop/bg-pattern-wave-red.svg);
        display: inline-block;
        position: absolute;
        left: 89%;
        top: 28%;
        transform: scale(1);
    }

    .strategy-text {
        padding: 14rem 10rem 0 6rem;
    }
}

/************* Brand Services Styles *************/
.brand-services {
    background-color: var(--brand-primary);
    color: var(--color-light);
    padding: 6rem 1.5rem;
}

.services {
    position: relative;
}

.services span {
    color: hsla(0, 0%, 100%, 0.3);
    display: block;
    font-size: var(--fs-80);
    font-weight: var(--fw-800);
    line-height: var(--lh-88);
    transform: translateY(3rem);
}

.service-description {
    padding-left: 1rem;
}

@media (min-width: 767px) {
    .brand-services {
        display: grid;
        grid-template-columns: 40% 60%;

        background-color: var(--color-light);
        color: var(--color-light);
        padding: 0 0 0 2.5rem;
    }

    .brand-slogan {
        grid-column: 1 / 2;

        background-color: var(--color-light);
        background-color: transparent;
        color: var(--color-dark);
        padding-top: 7.875rem;
    }

    .services {
        grid-column: 2 / 3;

        background-color: var(--brand-primary);
        margin-top: -7.5rem;
        padding: 3.5rem 2.5rem 7.5rem;
    }
}

@media (min-width: 1080px) {
    .brand-services {
        display: grid;
        grid-template-columns: 30% 10% 60%;

        padding: 0 0 0 5rem;
    }

    .brand-slogan {
        grid-column: 1 / 3;
        grid-row: 1;
        z-index: 1;
    }

    .services {
        grid-column: 2 / 4;
        grid-row: 1;

        padding: 3.5rem 5rem 7.5rem 10rem;
    }

    .services span {
        transform: translateY(2rem);
        transform: translate(-2.5rem, 2.5rem);
    }
}

@media (min-width: 1280px) {
    .brand-services {
        padding-left: 6rem;
    }

    .services {
        padding: 3.5rem 5rem 7.5rem 24rem;
    }
}

/************* Slider Section Styles *************/
.slider-section {
    position: relative;
}

.slider-control-icon {
    height: 40px;
    width: 40px;
}

.carousel-button-prev:hover,
.carousel-button-next:hover {
    filter: brightness(150%);
}

.project-info-text {
    grid-column: 1 / 3;

    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 4rem 1.5rem;
}

@media (min-width: 767px) {
    .slider-section {
        display: grid;
        grid-template-columns: 1fr 4rem 1fr;
        grid-template-rows: 20rem 7.5rem;
    }

    .brand-image {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .carousel {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .project-info-text {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        padding: 5rem 2.5rem;
        z-index: 1;
    }

    .project-info-text::before {
        content: url(../assets/desktop/bg-pattern-wavy-white.svg);
        display: inline-block;
        position: absolute;
        left: 45%;
        top: 22%;
        transform: scaleX(-1) scale(0.5);
    }
}

@media (min-width: 1080px) {
    .slider-section {
        display: grid;
        grid-template-columns: 36% 14% auto;
        grid-template-rows: 25rem auto;
    }

    .brand-image {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .carousel {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }

    .project-info-text {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        padding: 6rem 2.5rem 0;
        z-index: 1;
    }

    .project-info-text {
        padding-left: 5rem;
    }

    .project-info-text::before {
        content: url(../assets/desktop/bg-pattern-wavy-white.svg);
        display: inline-block;
        position: absolute;
        left: 44%;
        top: 22%;
        transform: scale(0.7);
    }
}

@media (min-width: 1280px) {
    .slider-section {
        display: grid;
        grid-template-columns: 36% 14% auto;
        grid-template-rows: 30rem auto;
    }

    .project-info-text {
        padding: 8rem 2.5rem 0 6rem;
    }

    .project-info-text::before {
        content: url(../assets/desktop/bg-pattern-wavy-white.svg);
        display: inline-block;
        position: absolute;
        left: 44%;
        top: 22%;
        transform: scale(1);
    }
}

@media (min-width: 1366px) {
    .slider-section {
        display: grid;
        grid-template-columns: 38% 14% auto;
        grid-template-rows: 32rem auto;
    }

    .project-info-text {
        padding: 9rem 2.5rem 0 6rem;
    }

    .project-info-text::before {
        content: url(../assets/desktop/bg-pattern-wavy-white.svg);
        display: inline-block;
        position: absolute;
        left: 47%;
        top: 26%;
        transform: scale(1);
    }
}

/************* Footer Styles *************/
.footer {
    position: relative;
    padding: 6.25rem 1.5rem;
}

@media (min-width: 600px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 767px) {
    .footer {
        padding: 4.5rem 2.5rem 6.25rem;
    }
}

@media (min-width: 1080px) {
    .footer {
        padding-inline: 5rem;
    }

    .footer h2::before {
        content: url(../assets/desktop/bg-pattern-wave-red.svg);
        display: inline-block;
        position: absolute;
        left: -7%;
        top: 33%;
        transform: scale(0.7);
    }
}

@media (min-width: 1280px) {
    .footer {
        padding-inline: 6rem;
    }

    .footer h2::before {
        content: url(../assets/desktop/bg-pattern-wave-red.svg);
        display: inline-block;
        position: absolute;
        left: -6%;
        top: 33%;
        transform: scale(1);
    }
}

@media (min-width: 1366px) {
    .footer {
        padding-inline: 10rem;
    }

    .footer h2::before {
        content: url(../assets/desktop/bg-pattern-wave-red.svg);
        display: inline-block;
        position: absolute;
        left: -5%;
        top: 33%;
        transform: scale(1);
    }
}
